{% extends 'base.html'%}

{% block content%}




<div class="container">

    {% if user.is_authenticated %}

          <div class="centerstage">

            <h1>Welcome!</h1>
            <a class="btn btn-primary homebutton" href="{% url 'updates:post_list' %}">Read an Update</a>
            <a class="btn btn-primary homebutton" href="{% url 'prayers:prayer_list' %}">Prayer Requests</a>

          </div>

    {% else %}
      <div class="jumbotron">
              <style>
                .imagebackground{background-image:none;}
              </style>
          <div class="loginsignup">
            <h2>Please Log In or Sign Up</h2>
            <a class="btn btn-primary btn-lg" href="{% url 'users:login'%}" role='button'>Log In</a>
            <a class="btn btn-primary btn-lg" href="{% url 'users:signup'%}" role='button'>Sign Up</a>
          </div>
      </div>
    {% endif %}
  </div>

{% endblock%}
